Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [18]:
import pandas as pd

In [19]:
import numpy as np

In [18]:
movie = pd.read_csv('ratings.csv')
movie5=movie.query('rating == {}'.format(5))
movie5['movieId'].value_counts().head(1)
# movie5.head()

318    39553
Name: movieId, dtype: int64

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity

In [30]:
countries = pd.read_csv('power.csv')
countries.head()
filtered_ = countries[ (countries['country']=='Latvia') | (countries['country']=='Estonia') | (countries['country']=='Lithuania') ]
filtered1 = filtered_[ (filtered_.category==4) | (filtered_.category==12) | (filtered_.category==21) ]
filtered2 = filtered1[ (filtered1.year>=2005) & (filtered1.year<=2010) & filtered1.quantity>=0  ]
sumF = filtered2['quantity'].sum()
print ("Суммарное потребление стран Прибалтики: ", sumF)
# filtered2.head(10)

Суммарное потребление стран Прибалтики:  970605.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [16]:
#  page_url = 'https://ru.wikipedia.org/wiki/Список_самых_кассовых_фильмов'
# df = pd.read_html(page_url, attrs = {'class': 'wikitable plainrowheaders'}, encoding='utf-8')
# df[:3]
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
df[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1010073      -              1010269
 1          NaN            EUR/RUB       920344      -               920540
 2          NaN            USD/RUB       781808      -               784553
 3          NaN            JPY/RUB        07379      -                07427
 4          NaN            CNY/RUB       115135      -               115537
 5          NaN            CHF/RUB       853343      -               854540
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        11774      -                11733
 8          NaN            EUR/GBP        09113      -                09115
 9          NaN            EUR/JPY      1247400      -              1239500
 10         NaN            EUR/CHF        10788      -                10772
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08495      -                08523
 13         NaN            USD/GBP        07740      -                07766
 14         NaN            USD/JPY      1059635      -              1056360
 15         NaN            USD/CHF        09164      -                09179
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08000      -                08100
 18         NaN            JPY/GBP        00073      -                00074
 19         NaN            JPY/USD        00094      -                00095
 20         NaN    JPY/CHF (100:1)        08600      -                08700
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12919      -                12877
 23         NaN            GBP/JPY      1368856      -              1360249
 24         NaN            GBP/EUR        10975      -                10976
 25         NaN            GBP/CHF        11839      -                11820
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        11839      -                11820
 28         NaN            EUR/CHF        10788      -                10772
 29         NaN    JPY/CHF (100:1)        08600      -                08700
 30         NaN            USD/CHF        09164      -                09179
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       333428      -               332762
 33         NaN            USD/UAH       283250      -               283600
 34         NaN            CHF/UAH       309090      -               308899
 35         NaN            GBP/UAH       365902      -               365192

           %  Абсолютное значение     Время
 0   -0,02 %               -00196  19:59:00
 1   -0,02 %               -00196  19:59:00
 2   -0,35 %               -02745  19:59:00
 3   -0,65 %               -00048  19:59:00
 4   -0,35 %               -00402  19:59:00
 5   -0,14 %               -01197  19:59:00
 6         %  Абсолютное значение     Время
 7    0,35 %                00041  19:59:00
 8   -0,02 %               -00002  19:59:00
 9    0,64 %                07900  19:59:00
 10   0,15 %                00017  19:59:00
 11        %  Абсолютное значение     Время
 12  -0,32 %               -00028  19:59:00
 13  -0,33 %               -00026  19:59:00
 14   0,31 %                03275  19:59:00
 15  -0,16 %               -00015  19:59:00
 16        %  Абсолютное значение     Время
 17  -0,65 %               -00001  19:59:00
 18  -0,64 %               -00001  19:59:00
 19  -0,31 %                00000  19:59:00
 20  -0,49 %                00000  19:59:00
 21        %  Абсолютное значение     Время
 22   0,32 %                00042  19:59:00
 23   0,63 %                08607  19:59:00
 24  -0,01 %               -00001  19:59:00
 25   0,16 %                00019  19:59:00
 26        %  Абсолютное значение     Время
 27   0,16 %                00019  19:59:00
 28   0,15 %                00017  19:59:00
 29  -0,49 %                00000  19:59:00
 30  -0,16 %               -00015  19:59:00
 31        %  Абсолютное значение     Время
 32   0,20 %                00666  19:59:00
 33  -0,12 %               -00350  19:57:00
 34   0,06 %                00191  19:59:00
 35   0,19 %                00711  19:59:00  ]

Задание 4
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [30]:
    movie = pd.read_csv('ratings.csv')
    movie_=movie.query('rating <= {}'.format(2))
    movie_['class'] = 'Низкий рейтинг'
    movie_=movie.query('rating <= {}'.format(4))
    movie_['class'] = 'Средний рейтинг'
    movie_=movie.query('rating > {}'.format(4))
    movie_['class'] = 'Высокий рейтинг'
    movie_.head(10)

   userId  movieId  rating   timestamp            class
0       1      296     5.0  1147880044  Высокий рейтинг
1       1      306     3.5  1147868817  Средний рейтинг
2       1      307     5.0  1147868828  Высокий рейтинг
3       1      665     5.0  1147878820  Высокий рейтинг
4       1      899     3.5  1147868510  Средний рейтинг
5       1     1088     4.0  1147868495  Средний рейтинг
6       1     1175     3.5  1147868826  Средний рейтинг
7       1     1217     3.5  1147878326  Средний рейтинг
8       1     1237     5.0  1147868839  Высокий рейтинг
9       1     1250     4.0  1147868414  Средний рейтинг

Задание 5
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

Задание 6
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга